// Place all the styles related to the Quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

audio.song_player {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
  font-family: Avenir;
  color: white;
}

div.guess_form_holder {
  text-align: center;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.guess_form {
  border-radius: 8px;
  border: none;
  padding: 7px 10px;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 600;
  border-style: round;
  width: 35%;
  height: 30px;
  color: #9DCC15;
}

.guess_form:focus {
  outline:0;
}

.submit_button {
  border-radius: 8px;
  border: none;
  padding: 7px 10px;
  background-color: #9DCC15;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-style: round;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 0.2%;
  height: 43.5px;
  width: 115px;
}

.submit_button:focus {
  outline: 0;
}
button.give_up {
  border-radius: 8px;
  border: none;
  padding: 7px 10px;
  background-color: #9DCC15;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-style: round;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 43.5px;
  width: 110px;
  margin-left: 0.2%;
}

input.play_again {
  border-radius: 8px;
  border: none;
  padding: 7px 10px;
  background-color: #9DCC15;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-style: round;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 43.5px;
  width: 110px;
  margin-bottom: 5px;
}

button:focus {
  outline:0;
}

#am_i_right:hover {
  background-color: #3EA9FB;
}

#give_up:hover {
  background-color: #E74470;
}

#new_clip:hover {
  background-color: #805EC8;
}

h1 {
  font-size: 50px;
  margin-top: 5px;
  margin-left: 5px;
}

#score {
  position: fixed;
  top: 0%;
  left: 85%;
}
span.green {
  color: #9DCC15;
  font-size: 30px;
}

span.pink {
  color: #E74470;
  font-size:30px;
}

.number-score {
  font-size: 23px;
}

#wrapper {
  width: 100%;
}

#wrapper-2 {
  width: 100%;
  z-index: -1;
}

.score-let {
  font-size: 25px;
}

#sidebar {
  margin-left: 1px;
}

span#play_clip {
  margin-right: 10px;
    -webkit-transition: all 0.0s ;
    -moz-transition: all 0.0s ;
    -o-transition: all 0.0s ;
    transition: all 0.0s;
}

#play_clip {
  color: #9DCC15;
  font-size: 45px;
}

#play_clip:hover {
  color: #F08F33;
}

#album_cover {
  text-align: center;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#song_name {
  text-decoration: none;
  color: white;
  font-size: 38px;
  text-align: center;
}

.song_name {
  text-decoration: none;
  color: white;
  font-size: 38px;
  text-align: center;
}

#album_name {
  text-decoration: none;
  color: white;
  font-size: 28px;
  text-align: center;
  font-style: italic;
}

#album_name:hover {
  color: #805EC8;
}

.album_name {
  font-size: 20px;
  text-align: center;
}

#song_name:hover {
    color: #9DCC15;
}

.artist_name {
  font-size: 20px;
  text-align: center;
}

#artist_name {
  font-size: 28px;
  text-align: center;
}

#album_cover{
  position:relative;
  text-align: center;
}

#directions {
  margin-top: 90px;
  text-align: center;
  font-size: 25px;   
}
#directions-2 {
  margin-top: 90px;
  text-align: center;
  font-size: 25px;  
}

#sub-directions-2 {
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
}

section#footer {
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0px;
  font-family: Avenir;
  font-weight: 100;
  font-size: 14px;
}

.sunshine {
  color: #F08F33;
  font-size: 15px;
}

.sunshine:hover {
}

#my-name {
  color: white;
  text-decoration: none;  
}

#my-name:hover {
  color: #9DCC15;
}

#you_did_it {
  margin: 0 auto;
  text-align: center;
}

#try_again {
  margin: 0 auto;
  text-align: center;
}

.fun_text {
  font-family: Avenir;  
  font-size: 75px;
  color: #E74470;
  font-weight: 800;
  left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.you_did_it_text {
  font-family: Avenir;  
  font-size: 75px;
  color: #E74470;
  font-weight: 800;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1000;
}

.thanks_spotify {
  font-size: 8px;
}

#spot_link:hover {
  color: #F08F33;
}

#code_link:hover {
  color: #9DCC15;
}